@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
:root {
 
 background-color:black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.calculator{
  
  display:grid;
  grid-template-columns:100px 100px 100px 100px;
  grid-template-rows:100px 100px 100px 100px 100px 100px 100px 100px;
}
.buttons{
  grid-row:3/9;
  grid-column:1/5;
  background-color:#e8e6e6;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  padding:20px;
}
.inner{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  height:100%;
  grid-gap:8px 8px;
  grid-template-rows:repeat(6, 1fr);
  
}

input{
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  height:200px;
  grid-row-start:1/3;
  grid-column-start:1;
  grid-column-end:5;
  outline:none;
  border:1px solid white;
  font-family:Nunito Sans;
  font-weight:500;
  font-size:40px;
  text-align:right;
}
button{
  font-family: "Nunito Sans", sans-serif;
  border:none;
  border-radius:50%;
  font-size:33px;
  font-weight:600;
  background-color:white
  ;
}
.calculator .buttons .inner .operator{
  background:linear-gradient(125deg,
  #bbf1f2 20%
    , white 95%);
  
    box-shadow:1px 01px 8px #5f9a9c;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

